.titleGoogle {
    color: #c287e6;
}

.titleYandex {
    color: #c287e6;
}

.titleBING {
    color: #c287e6;
}

.titleStartPage {
    color: #c287e6;
}

.titleSwisscows {
    color: #c287e6;
}
.titleAsk {
    color: #c287e6;
}
.titleRambler {
    color: #c287e6;
}
.titleYahoo {
    color: #c287e6;
}
.titleEcosia {
    color: #c287e6;
}
.titleDuckDuckGo {
    color: #c287e6;
}